html {
    overflow: hidden;
    height: 100%;
}

body {
    background-color: #0d1117;
    color: #c9d1d9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 40px
    border-bottom: 1px solid #30363d;
    background-color: #0d1117;
}

header h2 {
    color: #58a6ff;
    margin: 0;
}

nav a {
    color: #8b949e;
    text-decoration: none;
    margin-left: 25px;
    font-size: 1.1em;
    transition: color 0.2s;
}

nav a:hover {
    color: #58a6ff;
}

section {
    width: 100vw;
    flex-shrink: 0;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #0d1117;
}

main {
    display: flex;
    flex-direction: row;
    width: 300vw;
    height: calc(100vh - 80px);
    overflow: hidden;
    scroll-behavior: smooth;
    background-color: #0d1117;
}

section.active {
    display: flex;
}

section h1 {
    color: #58a6ff;
    margin-bottom: 10px;
}

section h2 {
    color: #8b949e;
    margin-top: 0;
    margin-bottom: 30px;
}
